
.label {
	padding: 3px;
	border-radius: var(--radius-2);
	background-color: var(--surface-1);

	&.green {
		background-color: var(--green-9);
	}

	&.red {
		background-color: var(--red-9);
	}

	&.yellow {
		background-color: var(--yellow-9);
	}
}