.mass-select-bar {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	height: 3em;
	padding: 0 1em;
	user-select: none;
	z-index: 99;

	> .bar-container {
		display: flex;
		height: 100%;
		padding: 0 10px;
		justify-content: space-between;
		align-items: center;
		background-color: var(--surface-1);
		border-radius: var(--radius-2);
		border: 1px solid var(--brand);

		> .left-content {
			display: flex;
			flex-direction: row;

			> * {
				margin: 0 5px;
			}
		}


		> .center-content {
			display: flex;
			flex-direction: row;

			> * {
				margin: 0 5px;
			}

			.button-popup-group .menu-list {
				display: block;
				position: absolute;
				bottom: 2.5em;
				width: 13em;
			}
		}


		> .right-content {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			> * {
				margin: 0 5px;
			}
		}
	}
}