#notary {
	height: 500px;
	overflow: auto;
}

.notes {
	flex-grow: 1;
	max-width: 32em;
	margin-right: 0.5em;
	padding: 0.5em;


	.ql-stroke {
		stroke: #FFF !important;
	}

	.ql-picker {
		color: #FFF !important;
	}

	.ql-picker-options {
		background-color: var(--surface3) !important;
	}
}
