@import "base/typography";

@import "util/variables";

@import "pages/library_edit";
@import "pages/setup";
@import "pages/settings/members";

@import "components/book_list_item_info";
@import "components/mass_select_bar";
@import "components/notes";
@import "components/reader";

@import "layout/list";


body {
    overflow: hidden;
}

.navbar-module.hidden {
    display: none;
}

.dropdown-item {
    cursor: pointer;
}

// FIX: When in fullscreen <body> will turn black. We add background here to prevent that.
.outer-view-container {
    background-color: var(--surface-2);
}

.sidebar-container.collapse.show,
.sidebar-container.collapsing {
    position: fixed;
    height: 100vh;
    margin-top: 62px;
    z-index: 999;
}

@media (min-width: 576px) {
    .sidebar-container.collapse.show,
    .sidebar-container.collapsing {
        position: unset;
        height: unset;
        margin-top: unset;
        z-index: unset;
    }
}