@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}



:root {
	--ratio-portrait: 0.668;

	--brand: var(--orange-3);
	--text1: var(--gray-1);
	--text2: var(--gray-3);
	--surface1: var(--gray-9);
	--surface2: var(--gray-8);
	--surface3: var(--gray-7);
	--surface4: var(--gray-6);
	--text-size-content-4: 80ch;

	height: 100%;
	width: 100%;

	background-color: var(--surface2);
	color: var(--text1);
	accent-color: var(--brand);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
}


:where(h1, h2, h3, h4, h5, h6, dt) {
	color: var(--text1);
}

:where(a[href]),
:where(a[href]):visited {
	color: var(--text1);

	&:hover {
		text-decoration: inherit;
	}
}


:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
	color: var(--text1);
	background: var(--surface1);
	outline-offset: 5px;
}

:where(input, button, textarea, select) {
	&.alternate {
		background: var(--surface2) !important;
	}
}

:where(:not(:active)):focus-visible {
	outline-offset: 0px;
}


.button {
	display: inline-flex;
	white-space: nowrap;

	font-size: var(--font-size-fluid-0);

	padding-inline: var(--size-2);
	padding-block: var(--size-1);

	color: var(--blue-1);
	border: var(--border-size-2) solid var(--brand);
	background-color: transparent;
	border-radius: var(--radius-2);

	&:hover {
		background-color: var(--surface1);
		color: var(--text1);
	}

	&:active {
		position: relative;
		inset-block-start: 2px;
	}
}


.poster {
	position: relative;
	overflow: hidden;
	width: 165px;
	height: 247px;
	border-radius: var(--radius-2);
	border: var(--border-size-1) solid transparent;
	transition: border 0.25s;

	&.large {
		width: 248px;
		height: 372px;
	}

	&.max-vertical {
		width: auto;
		height: 100%;
		aspect-ratio: var(--ratio-portrait);
	}

	&:hover {
		border-color: var(--brand);
	}

	&.selected {
		border-color: var(--brand);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.bottom-right {
		z-index: 99;
		position: absolute;
		bottom: 0px;
		right: 3px;
		display: none;
		cursor: pointer;
	}

	.bottom-left {
		z-index: 99;
		position: absolute;
		bottom: 0px;
		left: 3px;
		display: none;
		cursor: pointer;
	}

	&:hover .bottom-left,
	&:hover .bottom-right {
		display: block;
	}
}



/* NAVBAR */
.navbar-module {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--surface1);
	padding: 0px 10px;
	height: 3em;
	min-height: 3em;

	> .left-content {
		display: flex;
		flex-direction: row;
	}

	> .center-content {
		position: relative;
		min-width: 40%;

		> .search-bar {
			display: flex;

			input {
				flex-grow: 1;
			}
		}

		// Dropdown

		> .search-dropdown {
			position: absolute;
			background-color: var(--surface3);
			width: 100%;
			padding: 6px;
			z-index: 100;
			overflow-y: auto;
			max-height: 28em; // TODO: Auto height.
			margin-top: 8px;

			.search-item {
				display: flex;
				flex-direction: row;
				height: 7em;
				margin: 2px 0;

				&:hover {
					background-color: var(--surface2);
				}

				.info {
					flex-grow: 1;
					overflow: hidden;
					padding-left: 10px;

					.book-name {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}


	> .right-content {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	> * > a {
		padding: 10px 20px;
		text-decoration: none;
		color: var(--text1);
		text-transform: uppercase;
		user-select: none;
	}
}

/* CENTER DIV */
.center-normal {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;

	> .center-container {
		margin: auto;
	}
}

/* POPUP */
.popup {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 2em 0;

	> .popup-container {
		display: flex;
		flex-direction: column;
		padding: 0.5em;
		max-height: 100%;
		min-width: 40%;
		background-color: var(--surface2);
		border-radius: var(--radius-2);
	}
}

/* POPUP AT SPECIFIC POINT */
.popup-at-point {
	position: absolute;
	z-index: 50;
}

/* READER CONTAINER */

.reading-container {
	height: 100%;
	width: 100%;
	overflow: hidden;

	> .book {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		> .tools {
			> .tool-item {
				cursor: pointer;
			}
		}

		&.overlay-y > .reader {
			> .navbar {
				position: absolute;
				width: 100%;
				z-index: 100;
				background-color: var(--surface3);
				opacity: 0;
				transition: opacity 0.25s;

				&:hover {
					opacity: 1;
				}
			}

			> .progress {
				position: absolute;
				z-index: 101;
				bottom: 0;
			}
		}
	}
}


/* NOTES */
#notary {
	height: 500px;
	overflow: auto;
}

.notes {
	flex-grow: 1;
	max-width: 32em;
	margin-right: 0.5em;
	padding: 0.5em;


	.ql-stroke {
		stroke: var(--text1) !important;
	}

	.ql-picker {
		color: var(--text1) !important;
	}

	.ql-picker-options {
		background-color: var(--surface3) !important;
	}
}

/* READER */

.reader {
	position: relative;
	overflow: hidden;

	> .progress {
		width: 100%;
		background-color: #2f3337;
		height: 4px;

		> .prog-bar {
			background-color: var(--brand);
			height: 100%;
		}
	}

	.navbar {
		padding: 10px;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;

		> * {
			margin-right: 10px;
		}

		> a {
			cursor: pointer;
		}
	}

	.pages {
		overflow: hidden;

		.frames {
			position: relative;
		}

		iframe {
			border: none;
			width: 100%;
			height: 100%;
		}
	}
}




/* LIBRARY */
.library-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	position: relative;
	max-height: 100%;

	/* NORMAL */
	&.normal .library-item {
		width: 165px;
	}

	> .library-item {
		text-decoration: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		margin: 1em;

		/* PLACEHOLDER */
		&.placeholder {
			.poster {
				background-color: #202020;
				min-height: 247px;
			}

			.info {
				.author {
					background-color: #202020;
					height: 1em;
					width: 7em;
					margin-bottom: 3px;
				}

				.title {
					background-color: #202020;
					height: 1em;
					width: 4em;
				}
			}
		}

		.info {
			margin-top: 10px;
			display: flex;
			flex-direction: column;

			.title {
				color: var(--text1);
				text-decoration: none;
				font-size: var(--font-size-2);

				margin-block: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}


			.author {
				color: var(--text2);
				text-decoration: none;
				font-size: var(--font-size-1);

				margin-block: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}



/* MENU LIST */

.menu-list {
	background-color: var(--surface1);
	padding: 0.5em 0px;

	user-select: none;

	> .menu-item {
		color: var(--text2);
		font-size: var(--font-size-2);
		padding: 0px 1em;
		cursor: pointer;

		&:hover {
			background-color: var(--surface3);
			color: var(--text1);
		}
	}
}


/* LIBRARY EXTERNAL BOOK SEARCH */
.external-book-search-popup {
	//

	> .external-book-search-container {
		overflow-y: auto;

		> h2 {
			margin-bottom: 0.5em;
		}

		> .book-search-items {
			max-height: 25em;
			overflow-y: auto;
			background-color: var(--surface1);
			margin-right: 10px;

			> .book-search-item {
				display: flex;
				margin-bottom: 0.5em;
				cursor: pointer;

				> img {
					height: 16em;
				}

				> .book-info {
					//
				}
			}
		}
	}
}

.popup-book-info {
	//
}

.popup-book-edit {
	width: 58%;

	.header {
		//
	}

	.footer {
		//
	}

	.tab-bar {
		height: 3em;
		display: flex;
		flex-direction: row;

		.tab-bar-item {
			background-color: var(--surface1);
			cursor: pointer;
			padding: 5px;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		&.edit-posters {
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			.drop-container {
				background-color: var(--surface1);
				cursor: pointer;
				padding: 2em;
			}

			.poster-list {
				display: flex;
				flex-wrap: wrap;

				.poster {
					margin: 5px;
					cursor: pointer;
				}
			}
		}
	}
}


.main-content-view {
	margin: 0.5em;
	flex-grow: 1;
	overflow-y: hidden;
}


/* Home View Page */
.home-view-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;

	> .sidebar {
		background: var(--surface1);
		width: 14em;
		padding: 1em;

		> .sidebar-item {
			display: block;
			width: 100%;
			margin-bottom: 0.5em;

			&.library {
				font-size: var(--font-size-3);
			}
		}
	}

	> .content {
		//
	}
}


/* Media View Page */
.media-view-container {
	display: flex;
	flex-direction: column;
	padding: 1em;

	// Info
	> .info-container {
		display: flex;
		flex-direction: row;

		> .metadata {
			flex-grow: 1;
			margin-left: 1em;

			> .title {
				max-inline-size: var(--size-header-3);
			}

			> .description {
				max-inline-size: var(--text-size-content-4);
			}
		}
	}

	section {
		margin-top: 1em;

		h2 {
			margin-bottom: 0.25em;
		}
	}

	// Files
	.files-container {
		display: flex;
		flex-wrap: wrap;

		> .file-item {
			display: block;
			width: calc(25% - 1em);
			padding: 0.5em;
			margin: 0.5em;

			border-radius: var(--radius-2);
			border: var(--border-size-1) solid transparent;

			&:hover {
				border-color: var(--brand);
			}
		}
	}

	// Authors
	.authors-container,
	.characters-container {
		display: flex;
		flex-direction: row;

		// TODO: Replace with .person-container
		> .person-item {
			display: flex;
			flex-direction: column;
			transition: border 0.25s;
			padding: 0.5em;
			width: 10em;

			border-radius: var(--radius-2);
			border: var(--border-size-1) solid transparent;

			&:hover {
				border-color: var(--brand);
			}

			> .photo {
				position: relative;
				overflow: hidden;
				width: 9em;
				height: 9em;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: var(--radius-blob-5);
				}
			}

			> .title {
				text-align: center;
			}
		}
	}
}


/* Person List View Page */
.person-view-container {
	margin: 0.5em;
	flex-grow: 1;
	overflow-y: hidden;

	> .person-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-y: auto;
		position: relative;
		max-height: 100%;
	}
}

.external-person-search-popup {
	//

	> .external-person-search-container {
		overflow-y: auto;

		> h2 {
			margin-bottom: 0.5em;
		}

		> .person-search-items {
			max-height: 25em;
			overflow-y: auto;
			background-color: var(--surface1);
			margin-right: 10px;

			> .person-search-item {
				display: flex;
				margin-bottom: 0.5em;
				cursor: pointer;

				> img {
					height: 8em;
				}

				> .person-info {
					//
				}
			}
		}
	}
}


/* LOGIN PAGE */

.login-container {
	flex-grow: 1;
}



.person-container {
	display: flex;
	flex-direction: column;
	transition: border 0.25s;
	padding: 0.5em;
	width: 10em;
	cursor: pointer;

	border-radius: var(--radius-2);
	border: var(--border-size-1) solid transparent;

	&:hover {
		border-color: var(--brand);

		> .photo > .bottom-left,
		> .photo > .bottom-right {
			display: block;
		}
	}

	> .photo {
		position: relative;
		overflow: hidden;
		width: 9em;
		height: 9em;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: var(--radius-blob-5);
		}

		.bottom-right {
			z-index: 99;
			position: absolute;
			bottom: 0px;
			right: 3px;
			display: none;
		}

		.bottom-left {
			z-index: 99;
			position: absolute;
			bottom: 0px;
			left: 3px;
			display: none;
		}
	}

	> .title {
		text-align: center;
	}
}