

.setup-view-container {
	> .center-normal > .center-container {
		width: min(600px, 100%);
		overflow-y: auto;
		padding: 10px;
	}

	// Navigation
	.navbar-module {
		.center-content {
			text-align: center;
			flex-grow: 1;
		}
	}

	//
	.inner-setup {
		> .navbar-module {
			margin-top: 1em;
		}

		> .form-container {
			margin-top: 5px;
		}

		> .tools {
			margin-top: 5px;
		}
	}
}