@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

html {
	height: 100% !important;
	padding: 5px 5px 13px 5px !important;
	font-family: 'Roboto', sans-serif !important;
}


body {
	column-fill: auto !important;
	column-gap: 10px !important;
	position: relative !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	height: calc(100% - 20px) !important;
}

body.image-page {
	display: flex;
	flex-direction: row;
	column-fill: unset !important;
	column-gap: unset !important;
}

body.image-page.move-right-to-left {
	flex-direction: row-reverse;
}

body.single-page {
	column-count: 1 !important;
}

body.double-page {
	column-count: 2 !important;
}

body.scrolling-page {
	overflow: auto !important;
	height: auto !important;
}

/* Ensure's it's an href <a> element */
a[href], a[href]:hover, a[href]:visited, a[href]:active {
	color: #7f79e0 !important;
	font-weight: bold;
	text-decoration: none;
}



/* BOOK FIXES */

a {
	text-decoration: none;
}


/* DISPLAY COLOR */

body.color-black {
	background-color: black !important;
	color: #c9c9c9 !important;
}

/* Using a float to make other elements (mostly) ignore the div. */
.reader-ignore {
	float: left !important;
}

/*  Comics */
.comic-strip {
	width: calc(100vw - 10px) !important;
	min-width: calc(100vw - 10px) !important;
	text-align: center !important;
}


/* EDITOR */
.editor-flagged-item {
	padding: 5px;
}

.editor-flagged-item:hover {
	background-color: #c7c7c7;
}

.editor-flagged-item > .editor-content {
	margin: 0;
}

.editor-flagged-item > .editor-footer {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 2px;
}

.editor-flagged-item > .editor-footer > .editor-clickable {
	cursor: pointer;
	font-size: small;
	margin-left: 10px;
}

.editor-toolbar {
	position: absolute;
	display: flex;
	background-color: darkslategrey;
	height: 30px;
	border-radius: 4px;
	overflow: hidden;
	transform: translateX(-50%);
}

.editor-toolbar > .editor-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	height: 30px;
	color: whitesmoke;
	cursor: pointer;
}

.editor-toolbar > .editor-button.selected,
.editor-toolbar > .editor-button:hover {
	background-color: #284040;
}

.editor-note {
	background-color: rgba(0, 0, 0, 0.16) !important;
	/* position: relative; */
}

/* TODO: Should I do something like this to better distinguish a note? */
/* .note::after {
	content: "📝";
	position: absolute;
	font-size: 11px;
	top: -6px;
	right: -6px;
} */

.editor-highlight,
.editor-highlight.yellow {
	background-color: #ffff90 !important;
}

.editor-highlight.orange {
	background-color: #fbb76f !important;
}

.editor-highlight.blue {
	background-color: #6feefb !important;
}

.editor-highlight.purple {
	background-color: #f6a0fd !important;
}

.editor-italicize {
	font-style: italic;
}

.editor-underline {
	text-decoration: underline !important;
}