@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

html {
	height: 100% !important;
	padding: 5px 5px 13px 5px !important;
	font-family: 'Roboto', sans-serif !important;
}


body {
	column-fill: auto !important;
	column-count: 2 !important;
	column-gap: 10px !important;
	position: relative !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	height: calc(100% - 20px) !important;
}

body.single-page {
	column-count: 1 !important;
}

body.double-page {
	column-count: 2 !important;
}

body.scrolling-page {
	column-count: unset !important;
	overflow: auto !important;
	height: auto !important;
}

/* Ensure's it's an href <a> element */
a[href], a[href]:hover, a[href]:visited, a[href]:active {
	color: #7f79e0 !important;
	font-weight: bold;
	text-decoration: none;
}



/* BOOK FIXES */

a {
	text-decoration: none;
}


/* DISPLAY COLOR */

body.color-black {
	background-color: black !important;
	color: #c9c9c9 !important;
}

/* Using a float to make other elements (mostly) ignore the div. */
.reader-ignore {
	float: left !important;
}

/*  Comics */
.comic-strip {
	width: 100% !important;
	text-align: center !important;
}